body {
    background-color: rgb(40, 29, 22);
}
#title {
    text-align: center;
    font-size: 50px;
    color:rgb(239, 207, 67)
}
#roulette{
  display: block;
  margin: 0 auto;
  width: min(90vw, 500px);
  height: auto;
  transition: transform 5s cubic-bezier(.15,.9,.1,1);
}

#placehold{
  display: block;
  margin: 0 auto;
  width: min(12vw, 50px);
  height: auto;
}
#spin-button {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgb(24, 24, 24);
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  animation: pop 0.3s ease-out;
}

.result-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.result-number {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 30px;
}
#close-modal {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(24, 24, 24);
}
@keyframes pop {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
